@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,700;1,800&display=swap');

@import '../../node_modules/normalize.css/normalize';
@import 'mobile-menu';
@import 'variables';

@import 'header';
@import 'main';
@import 'footer';
@import 'blockquotes';
@import 'code';

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Besley', serif;
    line-height: 1.5em;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
