$background-color: #140e0d;
$font-color: #cac9c9;
$link-color: #e4e4e4;
$accent-color: #a36201;
$box-color: #2c4857;
$shadow-color: rgba(37, 66, 80, 0.5);
$border-color: #746e6b;
$color-palette: rgb(20, 20, 20);
